.header {
  padding: 10px;
}
.header a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid lightgray;
  padding: 3px 20px 3px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
